textarea {
    min-height: 400px;
}

.EmailFlex
{
    display: inline-flex;
    width: fit-content;
    margin-right: 20px;
}

.FloatRight
{
    float: right;
}

.EmailContainer
{
    display: block;
    width: 100%;
    border-style: solid;
    border-width: thin;
    border-collapse: collapse;
    height: fit-content;
    padding: 8px;
}
